/* ---------- Root Variables ---------- */
:root {
    --green: rgb(180, 50, 126);
    --light-green: rgb(210, 115, 146);
    --light-grey: #f1f1f4;
    --text-color-danger: rgb(152, 58, 58);
    --text-color-dark: #333;
    --text-color-light: #f1f1f1;
    --white: #f1f1f1;
  }
  
  /* ---------- Body and HTML ---------- */
  body,
  html {
    background-color: var(--light-green);
    color: var(--text-color-dark);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0 1em 2em;
  }
  
  /* ---------- Typography ---------- */
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  h2 {
    font-weight: 500;
    letter-spacing: 0.1px;
  }
  
  h3 {
    font-weight: 500;
    letter-spacing: 0.1px;
  }
  
  button {
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    border: none;
    color: var(--text-color-light);
    background-color: var(--green);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    font-size: 0.8em;
    display: block;
  }
  
  input {
    margin: 0.5em 0 2em;
    width: 100%;
    max-width: 350px;
    padding: 1em;
    box-sizing: border-box;
    display: block;
    background: var(--white);
    border: solid 2px var(--green);
  }